numpy>=1.25
pandas>=1.5  # Versões mais antigas podem ter problemas com Python 3.12
streamlit>=1.30.0  # Evita bugs nas versões anteriores
XlsxWriter>=3.1.9
pillow>=9.0  # Garante compatibilidade
